<!DOCTYPE html>
<html lang="pt">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsivo.css}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   
    <title>Managment Login</title>
</head>
<body class="m-auto login background-menu-cadastro-morador">
    <header>
        <div id="menu" onclick="menu()" class="icone-menu">
            <div class="traco"></div>
            <div class="traco"></div>
            <div class="traco"></div>
        </div>
    </header>
    <main>
            <div id="menu-mobile" class="menu-adm-mobile">
                <div>
                    <a href="novoMorador.html">
                        <img class="icone" th:src="@{/images/iconCtrlNovoMorador.png}" alt="iconeAdm">
                    </a>
                </div>
                <div>
                    <a href="atualizaMorador.html">
                        <img class="icone" th:src="@{/images/iconCtrlAtulizarCadFuncionario.png}" alt="iconeMorador">
                    </a>
                </div>
                <div>
                    <a href="consultaMorador.html">
                        <img class="icone" th:src="@{/images/iconCtrlConsultarCadastro.png}" alt="iconeAdm">
                    </a>
                </div>
            </div>
            <div class="painel">
                <div class="menu-adm">
                    <div>
                        <a href="novoMorador.html">
                            <img class="icone" th:src="@{/images/iconCtrlNovoMorador.png}" alt="iconeAdm">
                        </a>
                    </div>
                    <div>
                        <a href="atualizaMorador.html">
                            <img class="icone" th:src="@{/images/iconCtrlAtulizarCadFuncionario.png}" alt="iconeMorador">
                        </a>
                    </div>
                    <div>
                        <a href="consultaMorador.html">
                            <img class="icone" th:src="@{/images/iconCtrlConsultarCadastro.png}" alt="iconeAdm">
                        </a>
                    </div>
                </div>

                <div class="container-painel">
                    <div class="painel-menu" >
                        <form th:action="@{/cadastroMorador}" id="validaForms" th:object="${morador}" method="POST" >
                          
                            <div class="mb-3">
                                <label for="name" class="form-label text-white">Nome Completo</label>
                                <input th:field="${morador.nome}" type="text"  class="form-control" id="nome" name = " nome" required pattern="[a-z]{1,20}$">
                                
                                <select th:field="${morador.rg}" name="documento"  id="documento" required>
                                    <option th:selected="${morador.rg == rg}" value="rg">RG</option>
                                    <option th:selected="${morador.cpf == cpf}" value="cpf">CPF</option>
                                </select><label for="documento" class="form-label text-white"></label>
                                <input th:field="${morador.rg}" type="text"  class="form-control" id="rg" name = "rg" >
                                <br>
                                    <label for="name" class="form-label text-white">sexo</label>
                                <select th:field="${morador.sexo}" name="genero"  id="sexo" required>
                                    <option th:selected="${morador.sexo == m }" value="m">Masculino</option>
                                    <option th:selected="${morador.sexo == f }" value="f">Feminino</option>
                                </select>
                                <br>
                                     <label for="name" class="form-label text-white">tipo de morador</label>
                                <select th:field="${morador.tipo}" name="titular"  id="titular" required>
                                    <option th:selected="${morador.tipo == 'proprietario'}" value="proprietario">proprietario</option>
                                    <option th:selected="${morador.rg == 'inquilino'}" value="inquilino">inquilino</option>
                                </select><label for="genero" class="form-label"></label>
                                <br>
                                 
                                <label for="veiculo" class="form-label  text-white">Veículo</label>
                                <br>
                                <select th:field="${veiculo.tipo}" name="veiculo" id="veiculo">
                                    <option th:selected="${veiculo.tipo == 'carro'}" value="carro">Carro</option>
                                    <option th:selected="${veiculo.tipo == 'moto'}" value="moto">Moto</option>
                                </select>
                                <br>
                                <label for="modelo" class="form-label  text-white">Modelo</label>
                                <input th:field="${veiculo.modelo}" type="text" class="form-control" id="modelo" name = "modelo" required>

                                <label for="placa" class="form-label text-white">Placa</label>
                                <input th:field="${veiculo.placa}" type="text" class="form-control" id="placa" name = "placa" required>

                                <label for="cor" class="form-label text-white">Cor</label>
                                <input th:field="${veiculo.cor}" type="text" class="form-control" id="cor" name = "cor" required>
                                    <br>
                                        <label for="cor" class="form-label text-white">numero apartamento</label>
                                <select th:field="${apartamento.numeroApartamento}" name="apartamento" id="apartamento" required>
                                    <option th:selected="${apartamento.numeroApartamento == 101 }" value="101">101</option>
                                    <option th:selected="${apartamento.numeroApartamento == 102 }" value="102">102</option>
                                    <option th:selected="${apartamento.numeroApartamento == 103 }" value="103">103</option>
                                    <option th:selected="${apartamento.numeroApartamento == 104 }" value="104">104</option>
                                    <option th:selected="${apartamento.numeroApartamento == 105 }" value="105">105</option>
                                    <option th:selected="${apartamento.numeroApartamento == 106 }" value="106">106</option>
                                    <option th:selected="${apartamento.numeroApartamento == 107 }" value="107">107</option>
                                    <option th:selected="${apartamento.numeroApartamento == 108 }" value="108">108</option>
                                    <option th:selected="${apartamento.numeroApartamento == 109 }" value="109">109</option>
                                    <option th:selected="${apartamento.numeroApartamento == 110 }" value="110">110</option>
                                    <option th:selected="${apartamento.numeroApartamento == 111 }" value="111">111</option>
                                    <option th:selected="${apartamento.numeroApartamento == 112 }" value="112">112</option>
                                </select><label for="genero" class="form-label"></label>
                                <br>
                                <label for="cor" class="form-label text-white">Andar</label>
                                <input th:field="${apartamento.andar}" type="text" class="form-control" id="andar" name = "andar" required>
                            </div>
                            
                            <button type="submit" id="cadastrar"  class="btn btn-primary">Cadastrar</button>
                        </form>
                       
                    </div>
                </div>
            </div>
            
        
        
   </main>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/validar.js}"></script>
   <!-- <script src="static/js/script.js"></script>-->
</body>
</html>