<!DOCTYPE html>

     <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsivo.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   
    <title>Managment Login</title>
</head>
<body class="m-auto login background-menu-consulta-morador">
    <header>
        <div id="menu" onclick="menu()" class="icone-menu">
            <div class="traco"></div>
            <div class="traco"></div>
            <div class="traco"></div>
        </div>
    </header>
    <main>
            <div id="menu-mobile" class="menu-adm-mobile">
                <div>
                    <a th:href="@{/cadMorador}">
                        <img class="icone" th:src="@{/images/iconCtrlNovoMorador.png}" alt="iconeAdm">
                    </a>
                </div>
                <div>
                    <a th:href="@{/atualizaMorador}">
                        <img class="icone" th:src="@{/images/iconUpdateCadastro.png}" alt="iconeMorador">
                    </a>
                </div>
                <div>
                    <a th:href="@{/consultaMorador}">
                        <img class="icone" th:src="@{/images/iconCtrlConsultarCadastro.png}" alt="iconeAdm">
                    </a>
                </div>
            </div>
            <div class="painel">
                <div class="menu-adm">
                    <div>
                        <a th:href="@{/cadMorador}">
                            <img class="icone" th:src="@{/images/iconCtrlNovoMorador.png}" alt="iconeAdm">
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/atualizaMorador}">
                            <img class="icone" th:src="@{/images/iconUpdateCadastro.png}" alt="iconeMorador">
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/consultaMorador}">
                            <img class="icone" th:src="@{/images/iconCtrlConsultarCadastro.png}" alt="iconeAdm">
                        </a>
                    </div>
                </div>

                <div class="container-painel">
                    <div class="painel-menu" >
                        <form id="validaForms" th:action="@{/consultarMorador}" th:object="${morador}" method="POST" >
                            <div class="mb-3">
                                <label for="matricula" class="form-label  text-white">Matricula</label>
                                <input th:field="${morador.id}" type="text" class="form-control" id="id" required> 
                                <button type="submit" class="btn btn-primary">Pesquisar</button>
                        
                            </div>
                            
                            <span class="text-white" th:text="morador"></span><br>
                            <span th:text="${morador.nome}" class="text-white"/><br>
                            <span class="text-white" th:text="sexo"></span><br>
                            <span th:text="${morador.sexo}" class="text-white"/><br>
                            <span class="text-white" th:text="documento"></span><br>
                            <span th:text="${morador.rg}" class="text-white"/>
                            <br>
                                
                              <span class="text-white" th:text="tipo"></span><br>
                            <span th:text="${morador.titular}" class="text-white"/>
                            <br>
                                <span class="text-white" th:text="apartamento"></span><br>
                                <span class="text-white" th:text="${apartamento.numeroApartamento}"/>
                            <br>
                                <span class="text-white" th:text="veiculo"></span><br>
                                <span th:text="${veiculo.placa}" class="text-white"/>
                                <!--
                                    <span class="text-white" th:text="apartamento.numeroApartamento"></span><br>
                                    <span th:text="${morador.apartamento.numeroApartamento}" class="text-white"/>
                              
                            
                            <br>
                                
                                    <span class="text-white" th:text="veiculo"></span><br>
                                    <span th:text="${veiculo.placa}" class="text-white"/>
                                
                            -->
                                
                        </form>
                       
                    </div>
                </div>
            </div>
            
        
        
   </main>
   <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
          <script th:src="@{/js/script.js}"></script>
          <script th:src="@{/js/validar.js}"></script>
    <script src="static/js/script.js"></script>
</body>
</html>