<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsivo.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   
    <title>Managment Login</title>
</head>
<body class="m-auto login background-menu-morador">
    <header>
        <div id="menu" onclick="menu()" class="icone-menu">
            <div class="traco"></div>
            <div class="traco"></div>
            <div class="traco"></div>
        </div>
    </header>
    <main>
            <div id="menu-mobile" class="menu-adm-mobile">
                <div>
                    <a th:href="@{menuAdm}">
                        <img class="icone" th:src="@{/images/iconeAdm.png}" alt="iconeAdm">
                    </a>
                </div>
                <div>
                    <a th:href="@{menuAdmMorador}">
                        <img class="icone" th:src="@{/images/iconMorador.png}" alt="iconeMorador">
                    </a>
                </div>
                <div>
                    <a th:href="@{menuAdmMorador}">
                        <img class="icone" th:src="@{/images/img/iconConsAgenda.png}" alt="iconeAdm">
                    </a>
                </div>
            </div>
            <div class="painel">
                <div class="menu-adm">
                    <div>
                        <a th:href="@{menuAdm}">
                            <img class="icone" th:src="@{/images/iconCrtlAdm.png}" alt="iconeAdm">
                        </a>
                    </div>
                    <div>
                        <a href="http://">
                            <img class="icone" th:src="@{/images/iconCrtlMorador.png}" alt="iconeMorador">
                        </a>
                    </div>
                    <div>
                        <a href="http://">
                            <img class="icone" th:src="@{/images/iconCrtlConsAgend.png}" alt="iconeAdm">
                        </a>
                    </div>
                </div>

                <div class="container-painel">
                    <div class="painel-menu" >
                        <div>
                            <a href="http://">
                                <img class="icone-menu-adm" th:src="@{/images/iconCtrlAgendarServico.png}" alt="iconeAdm">
                            </a>
                        </div>
                        <div>
                            <a href="http://">
                                <img class="icone-menu-adm" th:src="@{/images/iconCtrlCadSecretaria.png}" alt="iconeMorador">
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
            
        
        
   </main>
     <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
          <script th:src="@{/js/script.js}"></script>
          <script th:src="@{/js/validar.js}"></script>
            <script src="static/js/script.js"></script>
</body>
</html>